
.login {
    display: flex;
    width: 100%;
    height: 100vh;
		overflow: hidden;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;

    .login--bg {
        width: 100%;
        height: 100vh;
        position: absolute;
        z-index: -5;

				img {
					width: 100%;
					height: 100%;
				}
    }

    .bg-layer {
        width: 100%;
        height: 100vh;
        position: absolute;
        background: #ffffff42;
        z-index: -4;
    }


    .attribution {
        margin-top: 15px;
        a {
            color: #59698a;
            text-decoration: none;
            font-size: 0.75em;
        }
    }
    
    .login--container {
        width: 800px;
        height: 640px;
        border-radius: 5px;
        overflow: hidden;
        display: flex;

        @media only screen and (max-width: 810px) {
            width: 90vw;
        }

        .left {
            flex: 2;
            background-color: #1A232E;

            @media only screen and (max-width: 479px) {
                display: none;
            }

        }

        .logo {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 100%;

            img {
                width: 80%;
                height: 80px;
                object-fit: cover;
                position: relative;
            }

            .logo--lbl {
                font-family: 'Sora', sans-serif;
                color: white;
                letter-spacing: 3px;
            }

        }

        .right {
            flex: 3;
            background-color: #eef1f7;
            display: flex;
            height: 100%;
            justify-content: center;
            align-items: center;

            .form--container {
                width: 80%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                padding: 30px;
                background-color: white;
                border-radius: 3px;

                .logo {
                    display: none;
                    @media screen and (max-width: 479px) {
                        display: flex;
                        flex-direction: column;

                        .logo--lbl {
                            color: #1A232E;
                        }
                    }
                }

                
                .right-lbl {
                    @media screen and (max-width: 479px) {
                        display: none;
                    }
                }
                span {
                    font-size: 0.75em;
                    color: gray;
                }

                h2 {
                    font-family: 'Archivo', sans-serif;
                    font-size: 2em;
                    margin-bottom: 20px;
                }
                
                form {
                    display: flex;
                    flex-direction: column;


                    .form--item {
                        width: 100%;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        margin-bottom: 15px;

                        input {
                            height: 40px;
                            padding: 10px;
                            border-radius: 3px;
                            border: 0.5px solid rgba(gray, 0.5);

                            &:focus-visible {
                                outline: none;
                            }
                        }

                    }

                    button {
                        cursor: pointer;
                        height: 35px;
                        border: none;
                        border-radius: 3px;
                        padding: 5px;
                        background-color: #51557E;
                        color: white;
                        font-weight: bold;
                        letter-spacing: 2px;

                    }

                    .form--err {
                        margin-top: 5px;
                        color: rgb(205, 86, 86);
                        font-size: 0.75em;
                    }

                    
                }
            }

        }
    }
}
