$bg-dark: #2B333E;
$bg-darker: #1B2430;

$bg-side: #13151b;
$bg-main: #171821;
$boxShadow-dark: 3px 3px 8px -2px rgba(0,0,0,0.8);

$header-font: 'Archivo', sans-serif;
$text-font: 'Hind', sans-serif;


$text-light: #D5D5D5;
$text-dark: #404040;